.idea
bin
obj
*DotSettings.user
/.vs
/SoftwareEngineerInterview/CSharp/Zip.InstallmentsService/.vs
/SoftwareEngineerInterview/CSharp/Zip.InstallmentsService/Zip.Installment.Api/.vs/Zip.Installments.Api
